@font-face {
  font-family: 'Casino';
  src: local('Casino'), url('./assets/CasinoFlat.ttf') format('truetype');
}

@font-face {
  font-family: 'digital';
  src: local('digital'), url('./assets/CursedTimerUlil-Aznm.ttf') format('truetype');
}

@font-face {
  font-family: 'lemon';
  src: local('lemon'), url('./assets/LEMONMILK-BoldItalic.otf') format('opentype');
}

body {
  color: rgba(255, 255, 255, 0.842);
  background-color: lavenderx;
  margin: 0;
  font-family: 'Casino';
  text-align: center;
}

code {
  font-family: 'Casino';
}

.pregame_container{
  color:black;
  background: #E6E3D4;
  width: 30%;
  margin: auto;
  margin-top: 2%;
  padding: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: #9A0000;
  border-radius: 25px;
}

.footer {
  height: 30px;
  position: fixed;
  display: grid; 
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center; 
  bottom: 0;
  width: 100%;
  font-size: 16px;
  background-color: #9A0000;
  color: white;

}

.footer__links {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center; 
  text-align: center;
  text-decoration: none;
  margin-top: .1%;
  margin-top: .3%;
}

.turn_container{
  background-image: linear-gradient(lightgreen, green);
  height: fit-content;
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 25px;
}

.footer__links a:link{
  color:blue;
  text-decoration:double;
}

.footer__links a:visited{
  color:violet;
  text-decoration: none;
}

.footer__info{
  color:white
}

.header {
  box-sizing: border-box;
  width: 100%;
  background-size: cover;
  position: relative; 
  background-color: #9A0000;
  color: #fff;
  height:70px;
  display: inline-block;
  margin: auto;
}

.logo {
  float:center;
  margin-top: .6%;
  height: 5%;
  width: 8%;

}

h1{
  padding: 0;
  text-align: center;
  margin: auto;
}

h2{
  margin-top: -1%;
  font-family: 'lemon';
  text-decoration: solid;
  font-size: 40px;
}

h3 {
  font-size: 50px;
  text-decoration: none;
  text-emphasis: none;
  margin: auto;
}

h4{
  margin-top: -1%;
  font-family: 'lemon';
  text-decoration: none;
  font-size: 40px;
}

h5 {font-size: 30px;
  margin: 0;
  text-align: center;
  }

h6{
  margin-top: -6%;
  margin-bottom:.5%;
  font-family:lemon;
  font-size: 20px;
}

.rules{
  font-size: 18px;
  margin:1%;
}

.line{
  padding:0;
  width:100%;
  background-color: black;
  height:5px;
}

.value_container{
  text-align: center;
  background-color: #9A0000;
  margin:auto;
  height: 30px;
  width: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 25px;
}

.select_value_container{
  text-align: center;
  background-color: #9A0000;
  margin:auto;
  height: 30px;
  width: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 25px;
}
.keep_container{
  height: 65%;
}

.value{
  margin: auto;
  text-align: auto;
  font-family: 'digital';
  font-size: 30px;
}

.turn{
  margin-top: -10%;
}

.num_players_button {
  width: 15%;
  height: 100%;
  font-size: 34px;
  background-color: #9A0000;
  color: white;
  margin: 10px;
  text-align: center; 
  font-family: lemon;
}

.submit_button {
  width: 35%;
  height: 100%;
  font-size: 24px;
  background-color: #9A0000;
  color: white;
  margin-top: 3%;
  text-align: center; 
  font-family: lemon;
}

.submit_button:hover{
  background-color: black;
  cursor: pointer;
}

.num_players_button:hover{
  background-color: black;
  cursor: pointer;
}

.num_players_button:focus{
  background-color: black;
}

input{
  background-color: white;
  color:black;
  font-family: 'Courier New', Courier, monospace;
  height: 20px;
  font-size: 20px;
}
.color_selectors{
  display: flex;
  flex-direction: row ;
  justify-content: space-evenly;
  padding: 5px;
}

.color_button {
  text-align: center;
  height: 75px;
  width: 75px;
  padding: 5px;
}

.Dropdown-option.is-selected {
  background-color: black;
  color: white
}

.Dropdown-placeholder{

}

.Dropdown-control{
  width:100px;
  height: 30px;

}
.red_button {
  font-size:'24px'; 
  background-color:red; 
  height:'20px'}

.blue_button {
  font-size:'24px'; 
  background-color:blue; 
  height:'20px'}
   
.pink_button {
  font-size:'24px'; 
  background-color:pink; 
  height:'20px'}

.green_button {
  font-size:'24px'; 
  background-color:green; 
  height:'20px'}  

.orange_button {
  font-size:'24px'; 
  background-color:orange; 
  height:'20px'}  

.brown_button {
  font-size:'24px'; 
  background-color:brown; 
  height:'20px'}  

.brown_button {
  font-size:'24px'; 
  background-color:maroon; 
  height:'20px'}  

.brown_button {
  font-size:'24px'; 
  background-color:purple; 
  height:'20px'}  

.brown_button {
  font-size:'24px'; 
  background-color:purple; 
  height:'20px'}  

.brown_button {
  font-size:'24px'; 
  background-color:silver; 
  height:'20px'}  

.brown_button {
  font-size:'24px'; 
  background-color:gold; 
  height:'20px'}  

.color_button:active {
  background-color: black;
}

.color_button:focus {
  background-color: black;
}

.red{
  color:red
}

.blue{
  color:blue
}

.pink{
  color:pink
}

.green{
  color:green
}

.orange{
  color:orange
}

.brown{
  color:brown
}

.maroon{
  color:maroon
}

.purple{
  color:purple
}

.silver{
  color:silver
}
  
.gold{
  color: gold
}

.num_players_button:active{
  background-color: black;
}

.game_container{
  width: 100%;
  display: flex;
  justify-content: center;
 
}

.board_container{
  padding: 15px;
  height: 1000px;
  width: 650px;
  background-color: green;
  text-align: center;
  border-style: solid;
  border-width: 10px;
  border-color: gold;
  border-radius: 25px;
  margin-top: 1%;
}

.score_container{
  padding: 5px;
  height: fit-content;
  width: fit-content;;
  border-style: solid;
  border-width: 10px;
  border-color: #9A0000;
  background-color: white;
  color: black;
  margin-top: -145%;
  margin-left: -70%;
}

.rules {
text-align: left;
}

.totals{
  font-family: casino;
} 

.fakle_noto{
  padding: 0;
  font-size: 34px;
  margin-top: -3%;
}

.rolling_board{
  padding: 15px;
  text-align: center;
  margin: auto;
  height: 325px;
  width: 500px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 25px;
}

.board_title{
  width: 60%;
}

.player_keep{
  padding: 15px;
  text-align: center;
  margin:auto;
  margin-bottom: 5%;
  height: 325px;
  width: 500px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 25px;
}

.nav {
  height: 10px;
  width:100%;
  display: block;
  justify-content: center;
  align-content: center;
  margin-top: -2.25%;
}

.buttons_container{
  text-align: center;
  margin-top: 1%; 
}

.game_buttons:hover {
  cursor: pointer;
  background-color: black; 
}

.game_buttons:active {
  cursor: pointer; 
}

.game_buttons {
  font-size: 20px;
  text-decoration: none;
  font-family: lemon;
  color: white;
  border-style: solid;
  border-width: 3px;
  border-color: gold;
  background-color:#9A0000;
  margin-top:2%;
  margin-left: 1%;
  margin-right:  1%;
  width: 35%;
  padding:5px;
}

.nav_buttons {
  font-size: 20px;
  text-decoration: none;
  font-family: casino;
  color: white;
  border-style: solid;
  border-width: 3px;
  border-color: gold;
  background-color: green;
  margin-top: -.3%;
  margin-left: .5%;
  margin-right:  .5%;
  width: 10%;
  padding:5px;
  float:left;
}

.nav_buttons:hover{
  background-color: black;
}

.nav_link {
  text-decoration: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  align-self: center;
  margin:auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-family: lemon;
}
    
.diceContainer {
  display: flex;
  justify-content:center;
  padding:3vw;
  margin-top: -10%;
  margin-right: 0%;
  background-position: center;
  height: 55px;
}

.diceContainer img {
  height: 70px;
  width: 70px;
  padding: 4px 4px 4px 4px;
  margin-right: .5px;
  filter: drop-shadow(0 0 3px);
}

.dice_background_active {
  background: linear-gradient(#5F8EC9,#2255BE) 0 0 / 80px 80px no-repeat;
}

.dice_background {
  background: green / 80px 80px no-repeat;
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-width: 3px;
  border-color: gold;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0;
}

.Dropdown-arrow {
  border-color: gold transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
  padding: 8px 10px;
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: black
}

.Dropdown-noresults {
  box-sizing: border-box;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.home_leaderboard{
  width: 100px
}

.home_leaderboard:hover {
  cursor: pointer;
  background-color: black; 
}

.home_leaderboard:active {
  cursor: pointer; 
}

.home_leaderboard {
  font-size: 20px;
  text-decoration: none;
  font-family: lemon;
  color: white;
  border-style: solid;
  border-width: 3px;
  border-color: gold;
  background-color:#9A0000;
  margin-top:2%;
  margin-left: 1%;
  margin-right:  1%;
  width: 100px;
  padding:5px;
}

.leaderboard_container{
  width: 400px;
  height: fit-content;
  color:black;
  background: #E6E3D4;
  margin: auto;
  margin-top: 2%;
  padding: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: #9A0000;
  border-radius: 25px;
}

.leader{
  font-family: lemon;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .game_buttons{
      width: 45%;
    }
    .nav_buttons{
      font-size: 6px;
      padding: 1px;
    }

    h1 {
      font-size: 12px;
    }

    h2 {
      font-size: 14px;
    }

    h3 {
      font-size: 12px;
      text-decoration: underline;

    }
    h4{
      font-size: 12px;
    }
    h6{
      font-size: 12px;
    }
    .rules {
      font-size: 8px;
    }

    .footer{
      font-size: 6px;
    }

    .pregame_container{
      width: fit-content;
    }

    .board_title{
      width: 90%;
    }
    .num_players_button {
      width: 25%;
    }

    .submit_button {
      width: 50%;
    }
    .leaderboard_container{
      width: 300px;
    }

    .header{
      height: 30px;
      margin-top: 1%;
    }

    .footer{
      height: 10px;
    }
    .game_container{
      width:100%
    }
    .board_container{
      width: 425px;
      height: 1010px;
    }

    .score_container{
      margin-left: 5%;
      margin-top: 10%;
    }

    .line {
      width: 300px;
    }

    .diceContainer {
      height: 100px;
  
    }
    .player_keep{
      width: 300px;
      height: 260px;
    }
    .rolling_board{
      width: 300px;
      height: 250px;
    }
    
    .diceContainer img {
      height: 40px;
      width: 40px;
      padding: 4px 4px 4px 4px;
      margin-top: 100%;
    }
    .keep_container{
      height: 120px;
    }
    .dice_background_active {
      background: linear-gradient(#5F8EC9,#2255BE) 0 0 / 50px 50px no-repeat;
    }
    
    .dice_background {
      background: green / 30px 30px no-repeat;
    }
}